<section>
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-4">
      <div class="col">
        <div>
          <span>
            <img src="./assets/icons/adds-ico.svg" alt="adds icon " />
            {{ "pre-step.تهيئة الحملات الاعلانيه" | translate }}</span
          >
          <h1 class="mt-5">
            {{
              "pre-step.مرحبًا بك في منصة أختيار عقارات سكنية للتعمير"
                | translate
            }}
          </h1>
          <p>
            {{
              "pre-step.قم بإضافة عملائك الحاليين إلي نظامك الجديد لتبدأ التجربة"
                | translate
            }}
            ""
            {{
              "pre-step.قم بإضافة عملائك الحاليين إلي نظامك الجديد لتبدأ التجربة"
                | translate
            }}"
          </p>
          <ul class="mt-4">
            <li>
              <img src="./assets/icons/list-ico.svg" alt="" />
              <span>{{
                "pre-step.قم بتحميل شعارك وتفاصيل علامتك التجارية" | translate
              }}</span>
            </li>
            <li>
              <img src="./assets/icons/list-ico.svg" alt="" />
              <span>{{
                "pre-step.اختر وخصص الحقول التي تحتاجها" | translate
              }}</span>
            </li>
            <li>
              <img src="./assets/icons/list-ico.svg" alt="" />
              <span>{{
                "pre-step.اختر موضوعاً وصمم مظهر استمارتك" | translate
              }}</span>
            </li>
            <li>
              <img src="./assets/icons/list-ico.svg" alt="" />
              <span>{{
                "pre-step.ضبط رسالة شكر وإجراءات المتابعة" | translate
              }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="px-2">
          <h2>{{ "pre-step.طريقة بناء الحملة الخاصة بك" | translate }}</h2>
          <p>
            {{
              "pre-step.الطريقة المختارة لطريقة إنشاء رسالة الحملة" | translate
            }}
          </p>
          <form [formGroup]="homeForm" (ngSubmit)="submitInitInformation()">
            <div class="form-check form-check-inline mx-0 w-100 p-0">
              <label class="check-container" for="manualSelection">
                <img src="./assets/icons/manaual-selection-ico.svg" alt="" />
                <h3>{{ "pre-step.اختيار يدوي" | translate }}</h3>
                <p>
                  {{
                    "pre-step.قم بإنشاء رسالة طلب سكنك بشكل يدوي ودقيق. اختر كلماتك بعناية،"
                      | translate
                  }}
                </p>
                <input
                  class="form-check-input input-left"
                  type="radio"
                  name="messageOption"
                  id="manualSelection"
                  formControlName="messageOption"
                  value="manual"
                />
              </label>
            </div>
            <div class="form-check form-check-inline mt-3 mx-0 w-100 p-0">
              <label class="check-container" for="automaticSelection">
                <img src="./assets/icons/AI-selection-ico.svg" alt="" />
                <h3>{{ "pre-step.إنشاء عبر الذكاء الأصطناعي" | translate }}</h3>
                <p>{{"pre-step.قم بإنشاء رسالة طلب سكنك بشكل يدوي ودقيق. اختر كلماتك بعناية،" | translate}}</p>
                <input
                  class="form-check-input input-left"
                  type="radio"
                  name="messageOption"
                  id="automaticSelection"
                  formControlName="messageOption"
                  value="automatic"
                />
              </label>
            </div>
            @if (!homeForm.get('messageOption')?.errors) {
            <div class="naming-form mt-3">
              <h3>{{ "pre-step.قم بتسمية مشروع أختيار" | translate }}</h3>
              <p>
                {{ "pre-step.أسم مشروعك يجب ان يكون مميز وواضح" | translate }}
              </p>
              <input
                type="text"
                class="form-control"
                placeholder="{{ 'pre-step.أسم مشروع مقترح' | translate }}"
                formControlName="projectName"
              />
            </div>
            @if (homeForm.get('projectName')?.errors &&
            (homeForm.get('projectName')?.touched ||
            homeForm.get('projectName')?.dirty)) {
            <p class="text-danger">
              @if (homeForm.get('projectName')?.getError('required')) {
              <span>{{ "pre-step.هذا الحقل مطلوب" | translate }}</span>
              } @if (homeForm.get('projectName')?.getError('minlength')) {
              <span>{{
                "pre-step.يجب كتابه 3 حروف علي الاقل" | translate
              }}</span>
              }
            </p>
            } }
            <button
              class="main-btn me-auto d-block mt-3"
              type="submit"
              [disabled]="homeForm.invalid"
            >
              {{ "pre-step.ابداء الان" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
    <img src="./assets/images/main-bg.png" class="bg-image" alt="" />
  </div>
</section>
